{% extends "classyeveryday/basetemp.html" %}

{% block content%}
   {% load static %}
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Change Your Password</h1></div>
      		</div>
		</div>
        <!--End Page Title-->

        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                      {% if error_message %}
                         <p style="color:red"><strong>{{ error_message }}</strong></p>
                      {% endif %}
                	<div class="mb-4">
                       <form method="post" id="CustomerLoginForm"  class="contact-form" onsubmit=" return check_psw()">
                           {% csrf_token %}
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <input type="password" name="psw" placeholder="" minlength="8" required id="psw" class="" autocorrect="off" autocapitalize="off" autofocus="">
                                </div>
                                <div class="form-group">
                                    <label for="password">Confirm Password</label>
                                    <input type="password" id="confirm_psw" placeholder="" required class="" autocorrect="off" autocapitalize="off" autofocus="">
                                </div>
                                <input type="hidden" value="{{user_id}}" name='user_id'>
                            </div>
                            
                          </div>
                          </div>
                          <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Submit">
                                <!--<p class="mb-4">
									<a href="{%  url 'classyeveryday:login_user'%}" id="RecoverPassword">Login</a> &nbsp; | &nbsp;
								    <a href="{%  url 'classyeveryday:register'%}" id="customer_register_link">Create account</a>
                                </p>-->
                            </div>
                         </div>
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <script>
        function check_psw(){
            psw=document.getElementById('psw').value;
            confirm_psw=document.getElementById('confirm_psw').value;
            if (psw != confirm_psw){
                alert("Password and confirm password must be same")
                return false;
            }
            return true;
        }
    </script>
    <!--End Body Content-->
    {%endblock%}